@model PagedList.IPagedList<Venta>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var paginatedList = ViewBag.PaginatedList;
}

<h1 style="text-align:center"> VENTAS</h1>
<p>
    <a asp-action="Create">Crear Venta</a>
</p>
<div class="form-group row">
    <label for="fechaFiltro" class="col-sm-3 col-form-label font-family-sans-serif"></label>
    <div class="col-sm-6">
        <input type="date" id="fechaFiltro" class="form-control font-family-monospace" />
    </div>
    <div class="col-sm-3">
        <button id="btnFiltrar" class="btn btn-primary font-family-serif">Filtrar</button>
        <button id="btnLimpiarFiltro" class="btn btn-secondary font-family-cursive">Limpiar filtro</button>
    </div>
</div>


<table class="table" id="tablaTurnos">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Productos Vendidos</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var venta in Model)
        {
            <tr data-fecha="@venta.Fecha.ToString("yyyy-MM-dd")">
                <td>@venta.Fecha</td>
                <td>@venta.Cliente.Nombre</td>
                <td>
                    <ul>
                        @foreach (var ventaProducto in venta.VentasProductos)
                        {
                            <li>@ventaProducto.Producto.Nombre</li>
                        }
                    </ul>
                </td>
                <td>@venta.Total</td>
                <td>
                                   
                    <a asp-action="Edit" asp-route-id="@venta.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@venta.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@venta.Id">Borrar</a>
                
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="totalDia" style="text-align: right; margin-top: 20px; font-weight: bold;"></div>
<div class="pagination-container">
    <partial name="_Paginacion" model="Model" />
</div>

@section Scripts {
    <script src="~/js/filtroTurnos.js" defer></script>
}

